/* Fix DatePicker Position */
.datepicker-dropdown { margin-top: calc(3.5rem + 1px); }
.datepicker-dropdown > div {margin: 10px; }

/* Fix bootstrap readonly style */
.form-control[readonly] { background-color: transparent; }
.form-control:disabled { background-color: #e9ecef; }

/* Customizations */
nav ul.nav.nav-treeview { margin-left: 1rem; }
.note-editor { box-shadow: none; border-color: #ced4da !important; }
  .note-editor .note-toolbar { padding: 0 5px 5px 5px; background: #e9ecef; }

/* Ajax Loading */
.ajaxloader { display: none; position: fixed; z-index: 10000; display: none; position: fixed; z-index: 10000; bottom: 67px; right: 10px; border: 7px solid rgb(0, 0, 0, 0.25); border-top: 7px solid rgb(0, 0, 0, 0.5); border-radius: 50%; width: 40px; height: 40px; animation: spin 0.75s linear infinite; }
body.loading { overflow: hidden; }
body.loading .ajaxloader { display: block; }

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}